<%- include("header"); -%>

<div class="box" id="heading">
 <h1> About Us </h1>
</div>
<div class="box">
    <p>
        Obviously, since you do not have access to the filesystem, `ejs.renderFile` won't work.
        For the same reason, includes do not work unless you use an include callback. Here is an example
    </p>
</div>

<%- include("footer"); -%>